* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: red;
}

.container-header {
  width: 1200px;
  height: 70px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  gap: 100px;
  align-items: center;
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

ul li {
  text-transform: capitalize;
}

a:link, a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

a:hover, a:active {
  color: #f4ce14;
}

